style.css


body{
	background-color:  #EDEDED;
}

.navbar{
	max-height: 50px;
		background-color: #78BEBC;
	font-size:  18px;
}

.navigation .navbar-brand{
	color:  white;
	margin-left: 50px;
	padding:  inherit;
	font-weight: bold;
	font-size: 22px;
	background-color: #78BEBC;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.dropdown-item{
	color: #78BEBC;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:active{
    background-color:#78BEBC; 
}

.nav-link:hover{
	background-color: #78BEBC;
}


/* Media Queries */

@media (max-width: 900px){
	.navbar-expand-lg{
			background-color: #78BEBC;
	}
	.navbar{
		max-height: none;
		padding: inherit;
	}
	.navbar div{
		margin: inherit;
		background-color: white;

	}
	.navbar-brand{
	}

	button{
		margin-left: auto;
	}

	button:focus {
		outline: 1px dotted;
	}
	}

.description-content{
		margin-top:  30px;
		margin-bottom: 60px;
		padding: 10px 30px 5px;
		color: black;
		background-color: white;
}

.imageNav-content{
		margin-top: 40px;
		margin-bottom:  20px;
		padding:  10px 30px 40px;
		color: black;
		background-color: white;
}

.description-header, .imageNav-header {
		padding-top: 15px;
		padding-left: 4px;
		color: #78BEBC;
		font-size: 30px;
		font-weight:  bold;
		font-family: Georgia, Times, "Times New Roman", serif;
}

img{
		width: 100%;
		height: 100%;
}

.description-image {
	float: left;
	width: 60%;
	height: 60%;
}

p{
	color: #414d4a;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
}

thead {
    background-color: #E5E5E5;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

th, td {
    padding: 15px;
    text-align: center;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .table-responsive > table {
    width: 100%;
  }

.active, .imageNav-photo:hover{
	border-color: #78BEBC;
	border-style: solid;
}

.footer{
	background-color: #DCDCDC;
	border-top-style: solid; 
    border-top-width: 6px; 
    border-top-color: #78BEBC;
    color: #696969;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-size: 20px;
    min-height: 30px; 
    position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}
